/* GENERAL STYLES */
*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 14px;
}
i{
    color:white;
    font-size: 1.5em;
}

/* ACCESSIBILITY BAR STYLES */
.flex-container{
    display: flex;
    width: 100%;
}
.acessibilidade{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
.atalhos, .links_access{
    list-style: none;
    display: inline-flex;
    padding: 5px;
}
.atalhos li, .links_access li{
    padding-left: 10px;
}
.links_access{
    margin-left: 60%;
}

/* HEADER STYLES */
header{
    background-color: #200a0c;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search_bar input{
    font-size: 1.5em;
    border-radius: 10px;
    margin-left: 10px;
}
.user_icons{
    padding-right: 20px;
}

/* SECTION STYLES */
section > :first-child{
    width:100%;
}

/* FOOTER STYLES */
footer{
    background-color: #200a0c;
}

/* ACCESSIBILITY BAR MEDIA QUERIES */
@media screen and (max-width: 1680px){
    .links_access{

        margin-left: 45%;
    }
}
@media screen and (max-width: 1345px){
    .links_access{

        margin-left: 40%;
    }
}
@media screen and (max-width: 1230px){
    .links_access{

        margin-left: 30%;
    }
}
@media screen and (max-width: 1024px){
    .links_access{

        margin-left: 25%;
    }
}
@media screen and (max-width: 850px){

    .atalhos{
        display: none;
    }
    .links_access{
        margin: auto;
    }
}